@import url("https://fonts.googleapis.com/css2?family=Jua&family=Song+Myung&display=swap");

/* Navigation Bar Styles */

nav {
  background-color: rgba(0, 1, 24, 0.75);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-family: "Song Myung", sans-serif;
  font-size: 20px;
}

nav div {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  margin-top: 5px;
}

nav img {
  height: 70px;
  /* margin-left:20px; */
  margin-top: 5px;
}

.navText {
  /* font-weight: bold; */
  color: rgb(128, 0, 0);
  transition: 0.3s;
  text-shadow: 0 1px 3px black;
}

.navText:hover {
  text-shadow: 0 0px 3px rgb(128, 0, 0), 0 0px 5px rgb(188, 46, 46);;
}

.navText:active {
  color: rgb(220, 1, 1);
}

.outIconDiv {
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: right;
  justify-items: right;
  align-items: center;
  text-align: right;
  margin-right: -6px;
  transition: 0.3s;
  text-shadow: 0 1px 3px black;
  font-size: 18px;
  margin-bottom: 6px;
}

.outIconDiv p{
  margin-bottom: 17px;
}
.outIconDiv:hover {
  /* text-shadow: 0 0px 5px white; */
  filter: drop-shadow(0 0 3px rgb(255, 255, 255))
    drop-shadow(0 0 10px rgb(255, 255, 255));
  transform: translateX(5px);
}
