.container {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  margin: auto;
  width: 100%;
  position: relative;
  justify-content: center;
}

.container .badge {
  width: 100%;
  margin: auto;
}

.container img {
  width: 100px;
  height: 100px; 
  z-index: 0;
  margin: 10px;

}

.descriptionBox {
  position: fixed;
  background-color: rgb(215, 215, 215);
  padding: 10px;
  z-index: 1000;
  opacity: 0.9;
  border-radius: 5px;
}

.notHave {
  filter: grayscale(100%)
}