.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  margin: auto;
  width: 100%;
  background-color: blue;
}

.container .badge {
  width: 100%;
  margin: auto;
}

.container img {
  width: 100px;
  height: 100px;
  z-index: 0;
  margin: 20px;

}

.descriptionBox {
  position: absolute;
  background-color: rgb(215, 215, 215);
  padding: 10px;
  z-index: 10;
  opacity: 0.8;
  border-radius: 5px;
}

.have {

}

.notHave {
  filter: grayscale(100%)
}