.container {
  width: 500px;
}

.row {
  display: flex;
}

.cell {
  width: 15px;
  height: 15px;
  margin: 2px;
  font-size: 5px;
  border-radius: 3px;
}

.yes{
  background-color: green;
}
.no{
  background-color: gray;
}
.transparent{
  opacity: 1;
}