.container {
  width: 500px;
}

.row {
  display: flex;
}

.cell {
  width: 15px;
  height: 15px;
  margin: 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center ;
  border-radius: 3px;
}
.days {
  font-size: 15px;
  margin-right: 10px;
}

.yes{
  background-color: green;
}
.no{
  background-color: gray;
}
.transparent{
  opacity: 1;
}