@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.whiteBox {
  width: 50%;
  height: 100vh;
  display: flex;
  object-fit: contain;
  align-items: center;
  flex-direction: column;
  justify-content: center;;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);

}


.whiteBox .logoSmall {
  width: 20vw;
  // height: 10rem;
  margin: 0 auto;
}

.whiteBox > p{
  font-family: 'Song Myung', serif;
  font-size: 30px;
  font-weight: bold;
  margin:0;
  margin-bottom: 30px;
}

.whiteBox form{
  display: grid;
  grid-template-columns: 1fr;
  // justify-content:center;
  justify-items: center;
  width: 80%;
}

.labelText{
  position: absolute;
  color: rgb(147, 147, 147);
  margin-left: 10px;
  margin-top: -30px;
  transition: 0.3s;
  }

.inputText {
  width: 15vw;
  height: 30px;
  margin: 0 auto;
  background: #ffffffc3;
  border: none;
  border-bottom: 2px solid #686868;
  transition: 0.3s;
  // margin-left: 6px;
  
}

.inputText[type="text"]::after {
  content: attr(title);
}

.inputText:hover,
.inputText:focus,
.inputText:not(:placeholder-shown)
{
  outline: none;
  border: none;
  border-bottom: 2px solid #c41616;
}

.inputText:hover ~ .labelText,
.inputText:focus ~ .labelText,
.inputText:not(:placeholder-shown) ~ .labelText
{
  color: rgb(233, 46, 46);
  transform: translate(-8px,-35px);
  font-size: 18px;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
  font-weight: bold;
  
}

.inputText::placeholder{
  color: #FFFFFF;
}

.findBtn {
  font-weight: bold;
  // width: 7vw;
  height: 30px;
  margin-top:7px;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: transparent;
  color: #8f1010;
  border: 1px solid #8f1010;
  padding: 0.15rem 1.5rem;


  color: rgb(208, 175, 175);
  background-color: rgb(155, 3, 3);
  border-radius: 5px;
  border: 0px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.514);
  transition: 0.2s;
}

.findBtn:hover {
  background: #f40303;
  color: #fff;
  box-shadow: 0 0 5px #f40303,
              0 0 10px #f40303;
}

.whiteBox span{
  margin-bottom: 20px;
  width: 20vw;
  height: 2px;
  background-color: #71717174;
}