.container {
  box-sizing: border-box;
  display: 'flex';
  align-content: 'flex-start'
}

.searchBar {
  width: 100%;
  height: 64px;
  margin-bottom: 0;
  border: 0;
  border-bottom: 3px solid black;
  background-color: rgba(255, 255, 255, 0);
  font-size: 50px;
}

.popUp {
  /* 그냥 px로 박아버림. 고칠 수 있을까..? */
  width: 620px;
  max-height: 100%;
  position: absolute;
  background-color: white;

  /* overflow: scroll; */
}

.popUpDetail {
  width: 100%;
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.popUpDetail button {
  width: 80px;
  height: 60%;
  background-color: skyblue;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: larger;
}
.popUpDetail button:hover {
  background-color: rgb(110, 202, 239);
}

.container .friendRequest {
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.friendSendBtn {
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  font-family: 'Song Myung', serif;
  margin-right: 0.5rem;
}

.friendSendBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.friendSendBtn:hover {
  /* background-color: #FF6656; */
  background-color: blue;
}

.friendUser {
  padding-left: 10px;
  font-family: 'Song Myung', serif;
  font-size: 2rem;
}

.friendOkBtn {
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
  font-family: 'Song Myung', serif;
  height: 100%; 
  border-style: none !important;
  float: right;
}

.friendOkBtn:active { 
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.friendOkBtn:hover {
  /* background-color: #FF6656; */
  background-color: green;
}

.friendDelBtn {
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  font-family: 'Song Myung', serif;
  height: 100%;
  float: right;
  border-style: none !important;
}

.friendDelBtn:active { 
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.friendDelBtn:hover {
  /* background-color: #FF6656; */
  background-color: red;
}


.friendRequest {
  /* margin: 0;
  width: 100%;
  list-style-type: none;
  background-color: aqua;
  border-bottom: 1px solid black;
  height: 80px;
  display: flex;
  align-items: center; */
  width:100%;
	height:50px;
	background:#FFF;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 5px;
}