@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
.detailWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userLevel {
  padding-left: 10px;
  font-family: 'Song Myung', serif;
  font-size: 1.5rem;
}

.userNick {
  padding-left: 10px;
  font-family: 'Song Myung', serif;
  font-size: 1.5rem;
}

.friendDelBtn {
  border-radius: 5px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  font-family: 'Song Myung', serif;
}

.friendDelBtn:active { 
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.friendDelBtn:hover {
  /* background-color: #FF6656; */
  background-color: red;
}
