@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(45, 46, 6, 0.75);

  font-family: 'Nanum Myeongjo', serif;

  overflow-y:scroll; 
}

aside::-webkit-scrollbar{
  display:none;
}

aside a {
  font-size: xx-large;
  text-decoration: none;
  color: white;
}

aside .container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

aside button {
  margin: 10px;
}

main {
  height: calc(100vh - 170px);
  background-color: rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
  margin-left: 300px;
  padding: 50px;
  overflow-y: scroll; 
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.container{
  margin-top: 10px;
}

.userNickDiv{
  color:white;
  transition: 0.3s;
  /* padding:0; */
}
.userNickDiv :hover{
  font-weight: bold;
  background: -webkit-linear-gradient(bottom left,rgb(69, 166, 108), rgb(48, 150, 179));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.554)
}