@import url('https://fonts.googleapis.com/css2?family=Jua&family=Song+Myung&display=swap');

.vbutton{
  position: inherit;
  margin: 0 auto;
  outline: none;
  padding:5px;
  border-radius: 0px;
  border:0px solid rgb(0, 61, 47);
  transition: 0.3s;
  // font-weight: bold;
  font-family: 'Song Myung', serif;
  color: rgb(217, 219, 218);
  background:linear-gradient(to bottom left,rgb(45, 76, 60) , rgb(19, 35, 23));
  margin-top: -24px;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.vbutton:hover{
  border:0px solid white;
  // box-shadow: 0 0px 3px rgb(192, 255, 217),
  // 0 0px 5px white
  // ;
  background:linear-gradient(to bottom left,rgb(45, 76, 60) , rgb(171, 194, 176));
  color: white;
}