@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.lobby {
  display: flex;
  flex-wrap: nowrap;
  
}

hr {
  width: 100%;
}

.roomsearch {
  width: 80%;
  border-radius: 20px;
  border: 1px;
  padding: 10px 20px;
  transition: 0.5s;
}

.searchContainer {
  display: flex;
  width: 65%;
  justify-content: right;
}

span{
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}

.roomListDiv{
  background-color: aqua;
  width: 100px;
}