@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.lobby {
  display: flex;
  flex-wrap: nowrap;
  
}

hr {
  width: 100%;
  margin:0;
  margin-top:10px;
}

.roomsearch {
  width: 80%;
  border-radius: 20px;
  border: 1px;
  padding: 10px 20px;
  transition: 0.5s;
}

.searchContainer {
  display: flex;
  width: 65%;
  justify-content: right;
}

.roomListText{
  font-weight: bold;
  font-size: 27px;
}

.roomListText{
  font-family: 'Nanum Myeongjo', serif;
  text-shadow: 0 0px 2px rgb(104, 104, 104);
}

