#session {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 50%;
  margin-top: 5px;
  /* margin-bottom: 2vh; */
}

@media (max-width: 1920px) {
  #session {
    min-width: 1536px;
    /* max-height: 756px; */
  }
}

@media (max-width: 1152px) {
  #session {
    margin-top: 0px;
  }
}

@media (max-width: 971px) {
  #session {
    margin-top: -7px;
  }
}

.stream-container {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 4%;
}

#video-container1 {
  width: 25%;
}

#video-container2 {
  width: 25%;
}

#game-container {
  width: 50%;
}

.main-container {
  height: 100%;
  background-color: black;
}

.none-container {
  width: 100%;
  aspect-ratio: 9/7;
  background-color: grey;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

#icon-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.titleBox {
  width: 250px;
  height: 70%;
  text-align: center;
  /* border: 2px solid #545363; */
  box-shadow: inset 0px 2px 9px 0px rgb(215, 15, 15);
  border-radius: 13px;
  color: #c6c0c0;
  margin-top: 6px;
  background-color: #121214;
  font-weight: bold;
  clip-path: polygon(10% 0, 100% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
}

.hover-pointer {
  cursor: pointer;
}

.exercise-container {
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  align-items: center;
}

.exercise-button {
  /* background-color: #222529; */
  background: linear-gradient(to right, #212223, #414345, #212223);
  box-shadow: 0 0 0 1px #33383e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(48, 56, 63, 0.7), 0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
  width: 190px;
  text-align: center;
  height: 100%;
  border-radius: 6px;
  transition: top 0.1s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  color: #dce2e5;
}

.exercise-button:hover {
  cursor: pointer;
}

.button-active {
  width: 190px;
  text-align: center;
  height: 100%;
  border-radius: 6px;
  transition: top 0.01s linear;
  background-color: #222529;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 6px;
  box-shadow: 0 0 4px 2px #86a1e2 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
  color: #d7f3ff;
}

.button-active:hover {
  cursor: pointer;
}

.exercise-text {
  margin-top: 10px;
  font-size: 20px;
}

.chatbox {
  height: 550px;
  width: 350px;
  position: absolute;
  bottom: 17px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 60vh;
  transform: translateY(-40px);
  z-index: 1234455;
  border-radius: 10px;
}

.chatbox-header {
  height: 34px;
  background-color: #69f388;
  opacity: 0.8;
  position: sticky;
  top: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chatbox-chats {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 491px;
  padding: 0 10px;
}

.chatbox-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
  position: sticky;
  bottom: 0;
  border-top: 2px solid black;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chatbox-footer input {
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 25px;
}

.chatbox-button {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  margin-right: 6px;
  border-radius: 10px;
  transition: 0.2s;
  background-color: #454040;
  color: white;
}

.chatbox-button:hover {
  cursor: pointer;
  background-color: #595f65;
}

.activeGameStart {
  background-color: rgb(203, 94, 94);
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #e03c3c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(87, 60, 60, 0.7), 0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.activeGameStart:hover {
  cursor: pointer;
}

.activeGameStart:active {
  background-color: rgb(203, 94, 94);
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #e03c3c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(6px);
}

.inactiveGameStart {
  background-color: grey;
  font-weight: 800;
  border-radius: 10px;
}

.Ready {
  background-color: rgb(203, 94, 94);
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 0 0 1px #e03c3c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(87, 60, 60, 0.7), 0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.Ready:hover {
  cursor: pointer;
}

.Ready:active {
  background-color: rgb(203, 94, 94);
  font-weight: bold;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 0 0 1px #e03c3c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
  transition: top 0.01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(6px);
}
