ul {
  border-collapse: collapse;
  width: 100%;
}

li {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.odd {
  background-color: red;
}

.even {
  background-color: yellow;
}


