.divset {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  /* height: 30% */
}

.commentDiv {
  width: 35%;
  margin-right: 30px;
  border: 5px solid black;
  border-radius: 10px;
}

.commentForm {
  display: flex;
}

.boardDetail {
  width: 65%;
  word-break: break-all;
  margin-right: 5%;
  background-color: antiquewhite;
}
.submitForm {
  width: 100%;
}
.submitForm textarea {
  position: inherit;
  resize: none;
  width: 100%;
}

.submitForm input[type="submit"] {
  position: relative;
  /* height: 20px; */
}



