.boardDiv {
  background-color: rgba(255, 255, 255, 0.8);
}

.createButton {
  right: 0;
  margin-bottom: 5px;
  float: right;
  background-color: #455d9d;
}

.pagination {
  color: white
}

.notice {
  float: left;
  width: 100%;
  height: 70%;
}

.notice > ul {
  float: left;
  width: 100%;
}

.notice > ul > li:first-child {
  border-top: 2px solid #c8c8d5;
}

.notice > ul > li {
  /* position: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 3fr; */
  display: flex;
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: rgba(255,255,255, 0.85);
  cursor: pointer;
  height: 40px;
  align-items: center;
}

.notice > ul > li:hover {
  background-color: lightgray;
}

.report {
  display: flex;
  align-items: center;
}

.reporter {
  display: flex;
  font-size: 16px;
  color: #333;
  float: left;
  /* margin-top: 10px; */
  padding-left: 27px;
  /* width: 25%; */

}

.arrow {
  display: flex;
  align-items: center;
  float: left;
}
.accused {
  display: flex;
  font-size: 16px;
  color: #333;
  align-items: center;
  /* width: 25%; */
  /* float: left; */
  /* margin-top: 10px; */

}
.reportKind {
  display: flex;
  float: right;
  font-size: 16px;
  color: #333;
  align-items: center;
  width: 20%;
}

.reportUserInfo {
  width: 40%;
  display: flex;
  justify-content: start;
  float: left;
  color: #aaaaaa;
  font-size: 12px;
}

.reportContent {
  width: 50%;
}

.reportContent {
  /* padding-left: 20px; */
}